@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Bebas+Neue&display=s');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.dashboardcontainer {
  background-color: #0E0E0E;
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #0E0E0E;
  color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar li:hover {
  background-color: #495057;
}

.content {
  font-family: "Adamina";
  font-weight: 600;
  color: white !important;
  flex: 1;
  padding: 20px;
  background-color: #0E0E0E;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 1 12px rgba(152, 149, 149);
}

.admin-details {
  border: 0px solid #ddd;
  border-radius: 27px;
  padding: 20px;
  margin: 10px auto;
  background-color: #1d1d23;
  box-shadow: 1px 2px 12px #928e8e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-details-heading {
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.admin-details p {
  margin-bottom: 5px;
  font-size: 0.9em;
}

.admin-details p strong {
  font-weight: bold;
  margin-right: 5px;
}