.home-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-header {
  top: 0;
  right: 0;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px); /* Blur effect for the glass effect */
  -webkit-backdrop-filter: blur(20px); /* Support for Safari */
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 15px rgba(255, 255, 255, 0.4);
}

.home-header nav {
  display: flex;
  justify-content: flex-end;
}

.home-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.home-header nav ul li {
  display: inline;
}

.home-header nav ul li a {
  text-decoration: none;
  color: rgb(243, 241, 241);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-header nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.home-content {
  margin-top: 80px; /* Adjust based on header height */
  text-align: center;
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content h1 {
  font-size: 4rem;
  overflow: hidden; /* Ensures the text stays within bounds during typing animation */
  white-space: nowrap;
  border-right: 4px solid rgba(255, 255, 255, 0.75); /* Blinking cursor effect */
  animation: typing 6s steps(40, end), blink-caret 0.75s step-end infinite; /* Typing and cursor animations */
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10; /* Ensure it is above other elements */
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .home-header nav ul {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -50%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.3s;
  }

  .home-header nav ul.open {
    right: 0;
  }

  .home-header nav ul li {
    display: block;
    text-align: center;
    margin: 20px 0;
  }

  .home-header nav ul li a {
    display: block;
    padding: 15px;
    border-radius: 0;
  }

  .hamburger {
    display: flex;
  }

  .home-content h1 {
    font-size: 2rem;
  }

  .home-container {
    background-size: cover;
  }
}

/* Typing Animation */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(255, 255, 255, 0.75);
  }
}
